In [1]:
# Initial setup
import os
import sys
current_dir = os.path.dirname(os.path.abspath("AnalyticalMethods.py"))
parent_dir = os.path.abspath(os.path.join(current_dir, os.pardir))
sys.path.insert(0, parent_dir)

In [2]:
from AnalyticalMethods import random_forest_feature_importances as rank

In [3]:
import pandas as pd

## Example data:

Example data comes from [kaggle](https://www.kaggle.com/datasets/ganjerlawrence/mobile-phone-price-prediction-cleaned-dataset)


### About Dataset

This data set is a collection for information about various mobile phone type . it is a cleaned data set made available for beginners who want to learn on how to implement machine learning algorithms rather than spending time cleaning the data set. you can just concentrate on building your models

The columns available in the dataset are:-

- Ratings: This field contains the various rating given by customers
- Ram: This field contain the Ram capacity of the phone in GB
- ROM: This is field contains the number of space available in the phone in GB
- Mobile_Size: This is the int size of the screen
- Primary_Cam: This is the number of pixels of the Back camera
- Selfi_Cam: The number of Pixels of the front camera
- Battery_Power: The battery power
- Price: The price of the mobile phone
- All the fields are already in numerical values either int of float

In [4]:
dir="../../../../data/consumer-products"
path=os.path.join(dir, "Mobile-Price-Prediction-cleaned_data.csv")
df=pd.read_csv(path)
df.head()

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,4.3,4.0,128.0,6.00,48,13.0,4000,24999
1,3.4,6.0,64.0,4.50,48,12.0,4000,15999
2,4.3,4.0,4.0,4.50,64,16.0,4000,15000
3,4.4,6.0,64.0,6.40,48,15.0,3800,18999
4,4.5,6.0,128.0,6.18,35,15.0,3800,18999

### The Example

Suppose your product manager (PM) is bringing a low budget phone to market. The PM determining how to price their product competitively. There are several methodologies to employ to anticipate how the market might respond to pricing, and there is no shortage of challenges. 

That said, you opt for a simple line of questioning: What are the attributes of the new phone? As helpful as that info may be, is it the *right* info?

So before you step into that meeting, you rank the features about phones according to how they impact price. This background research helps narrow the scope of your more probing questions...

In [5]:
df_X=df.drop(["Price"], axis=1)
rank(df_X, df.Price, df_X.columns.to_list(), task="regression")

         Feature  Importance
0        Ratings  100.000000
1    Mobile_Size   65.784671
2  Battery_Power    0.634743
3      Selfi_Cam    0.410327
4    Primary_Cam    0.316875
5            RAM    0.000000
6            ROM    0.000000

From the results above, you quickly discover that `Ratings` and `Mobile_size` affect the price the most. Well, there is nothing you can do about ratings before the product is released. So let's drop that out.

In [6]:
df_X=df.drop(["Price", "Ratings"], axis=1)
rank(df_X, df.Price, df_X.columns.to_list(), task="regression")

         Feature  Importance
0    Mobile_Size  100.000000
1            RAM   42.598839
2            ROM    1.573001
3    Primary_Cam    0.630184
4      Selfi_Cam    0.000000
5  Battery_Power    0.000000

### Interpretting the results

When a product first hits the market, the Size, the RAM, and the ROM are the most impactful features on price. 
The conversation with PM can zero in on those aspects to understand how to price the initial launch.